/* font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Urbanist', sans-serif; */

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-body{
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f3b3b;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.body-wrap{
    width: 200px;
    height: 200px;
    border-left: 20px solid #21e6c1;
    border-right: 20px solid #b4b4b4;
    border-top: 20px solid #ff9f68;
    border-bottom: 20px solid #28c7fa;
    transform: rotate(45deg);
    display:flex ;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
}
.body-text-area{
    color: white;
    transform: rotate(-45deg);
}
.logo-head{
   font-size: 25px;
   font-family: 'Noto Sans', sans-serif;
   padding: 0px;
   margin: 0px;
}
.logo-head>span{
    color: #ff9f68;
}
.logo-para{
    text-align:center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;

}